html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #fff;
  background-color: rgb(37, 37, 37);
}

.slider {
  margin: 30px auto 0;
  width: 800px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    "img img"
    "text controls";
  row-gap: 20px;
}

.slider__images {
  grid-area: img;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appearance {
  animation: appearance 0.7s ease-in-out;
}

.slider__image {
  display: none;
  border-radius: 10px;
}

.slider__image_active {
  display: inline-block;
}

.slider__text {
  grid-area: text;
  align-self: center;
}

.slider__description {
  display: none;
}

.slider__description_active {
  display: inline-block;
}

.slider__controls {
  grid-area: controls;
  justify-self: end;
}

.slider__button {
  padding: 6px;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.slider__button:last-child {
  margin-right: 0;
}

.slider__control {
  display: inline-block;
  width: 70%;
  height: 70%;
  background-color: #5daaf0;
  border: 2px solid #5daaf0;
  border-radius: 50%;
  transition: all 0.2s;
}

.slider__button:hover .slider__control {
  background-color: #fff;
  border-color: #fff;
}

.slider__button:active .slider__control {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}

.slider__control_active {
  background-color: transparent;
  border-color: #5daaf0;
}

.slider__button:hover .slider__control_active {
  background-color: transparent;
  border-color: #fff;
}

@media (max-width: 830px) {
  .slider {
    width: 90%;
    grid-template-columns: 100%;
    grid-template-areas:
      "img"
      "controls"
      "text";
    row-gap: 14px;
  }

  .slider__images img {
    width: 100%;
    height: auto;
  }

  .slider__controls {
    justify-self: center;
  }
}
